* {
    color: var(--ion-color-primary-contrast);
}

ion-card {
    max-width: 500px;
    min-width: 400px;
    --background: var(--ion-color-medium);
    transition: 0.3s;

    ion-card-header {
        >div {
            display: flex;
            align-items: center;
            column-gap: 2rem;
        }
    }

    ion-footer {
        ion-button {
            ion-icon {
                --padding-start: 1rem;
            }
        }
    }

    img {
        border: none;
        transition: box-shadow 0.3s;
      }
      
      img:hover {
        box-shadow: 0 0 0 5px var(--ion-color-medium);
      }
}