<ion-card>
  <ion-card-header>
    <div aria-hidden="true">
      <ion-avatar>
        <img
          alt="Fotografía de Marina Ruiz"
          src="assets/images/about/marina-ruiz-avatar.jpg"
        />
      </ion-avatar>
      <div>
        <ion-card-subtitle>Frontend Developer Jr.</ion-card-subtitle>
        <ion-card-title>Marina Ruiz Artacho</ion-card-title>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content>
    Me desenvuelvo bien en Java, HTML, CSS, JavaScript y SQL. Tengo
    conocimientos de PHP, Python y C. He utilizado tecnologias como Android,
    AWS, mongoDB, Node.js y Angular.
  </ion-card-content>

  <ion-footer>
    <ion-button fill="clear" aria-label="Visitar el LinkedIn de Marina Ruiz">
      <ion-icon
        slot="start"
        aria-hidden="true"
        name="logo-linkedin"
      ></ion-icon>
      LinkedIn
    </ion-button>
    <ion-button fill="clear" aria-label="Visitar el GitHub de Marina Ruiz">
      <ion-icon
        slot="start"
        aria-hidden="true"
        name="logo-github"
      ></ion-icon>
      GitHub
    </ion-button>
  </ion-footer>
</ion-card>
