<ion-header [translucent]="true" sm>
    <ion-toolbar>
        <ion-title>Fechas de conciertos</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="home()">Inicio</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- Table -->
    <ion-grid [fixed]="true">
        <ion-card>
            <ion-card-header color="primary">
                <ion-row ion-color-primary class="title">
                        <ion-col size="3">Concierto</ion-col>
                        <ion-col size="3">Artista</ion-col>
                        <ion-col>Fecha de concierto</ion-col>
                        <ion-col>Inicio de ventas</ion-col>
                        <ion-col></ion-col>
                </ion-row>
            </ion-card-header>
            <app-assignment-item *ngFor="let assignment of assignmentsSvc.assignments$ | async"
                [assignment]="assignment" (onDeleteClicked)="onDeleteClicked(assignment)"
                (onUpdateClicked)="onUpdateClicked(assignment)" />
        </ion-card>
    </ion-grid>
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
        <ion-fab-button (click)="onAddAssignmentClick($event)">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-loading [isOpen]="loading" spinner="bubbles" message="Cargando..."></ion-loading>