<ion-card>
    <img alt="Image of {{ concert?.name}}" [src]="concert?.image" />
    <ion-card-header>
        <ion-card-title>{{ concert?.name}}</ion-card-title>
        <ion-card-subtitle>{{ concert?.endDate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-button (click)="changeFav()" fill="clear">
        <ion-icon *ngIf="concert?.fav" color="warning" name="bookmark" size="large" ></ion-icon>
        <ion-icon *ngIf="!concert?.fav" color="secondary" name="bookmark" size="large"></ion-icon>
    </ion-button>
</ion-card>