#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    --background: url("https://images.unsplash.com/photo-1480506132288-68f7705954bd?auto=format&fit=crop&q=80&w=1520&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center/cover fixed;
}

#content ion-row {
    height: 100%;
}

app-about-us-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}