<ion-header [translucent]="true" sm>
    <ion-toolbar>
        <ion-title>Artistas</ion-title>
        <ion-buttons slot="end">
            <ion-toggle labelPlacement="end">Disponible</ion-toggle>
            <ion-button (click)="home()">Inicio</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row id="cards-container">
        <app-artist-info *ngFor="let artist of artistsService.artists$|async" [artist]="artist"></app-artist-info>
    </ion-row>
</ion-content>

<ion-loading [isOpen]="loading" spinner="bubbles" message="Cargando..."></ion-loading>