#hero-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: url("https://images.unsplash.com/photo-1609102026400-3c0ca378e4c5");
    // background-image: url("https://images.unsplash.com/photo-1610900603480-c0a85ac8e315");
    // background-image: url("https://images.unsplash.com/photo-1501962679900-bea61483313b");
    background-position: center;
    // background-image: url("https://images.unsplash.com/photo-1507874457470-272b3c8d8ee2");
    // background-image: url("https://images.unsplash.com/photo-1470229538611-16ba8c7ffbd7");
    background-image: url("https://images.unsplash.com/uploads/1411160110892ab555b6f/80b0d25e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#hero-section ion-img {
    width: 10vw;
}

#hero-section h1 {
    font-size: 3rem;
}

.row {
    gap: 100px;
}
