<ion-row>
    <ion-col>
        {{ assignment?.concert_id | concert | async }}
    </ion-col>
    <ion-col>
        {{ assignment?.artist_id | artist | async }}
    </ion-col>
    <ion-col>
        {{ assignment?.concertDate | date : "longDate" }}
    </ion-col>
    <ion-col>
        {{ assignment?.ticketSaleDate | date : "longDate" }}
    </ion-col>
    <ion-col>
        <ion-buttons>
            <ion-button color="primary" (click)="onUpdateClick(assignment, $event)">
                <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="onDeleteClick(assignment, $event)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-col>
</ion-row>